@charset "ISO-8859-1";
*{
margin:50px;
}

div{	
	margin-left:425px;	
}

.form
{
margin-left:500px;
margin-top:-40px;
}
.t1
{
margin-top:90px;
margin-left:40px; 
border-style:outset;
height: 20px;
border: 2px light grey; 
border-radius: 20px;

}
.t2
{
margin-top:50px;
margin-left:10px;
border-style:outset;
height: 20px;
border: 2px light grey;
border-radius: 20px;
}
.btn
{
margin-top:50px;
height: 40px;
border:2px lightgrey outset;
border-radius:10px;
width:70%;
}
form
{
     border-style: inset;
     width: 325px;
     border: 2px light grey;
     border-radius: 20px;
     background-color:white; 
     padding: 5px; 
}

