@charset "ISO-8859-1";

*{
	margin-top:5px;	
}
.div{
	
	margin-left:600px;
}


.txt1
{
margin-top:90px;
margin-left:60px; 
border-style:outset;
height: 20px;
border: 2px light grey;
border-radius: 20px;

}
.txt2
{
margin-top:90px;
margin-left:40px;  
border-style:outset;
height: 20px;
border: 2px light grey;
border-radius: 20px;

}

.txt3
{
margin-top:90px;
margin-left:10px; 
border-style:outset;
height: 20px;
border: 2px light grey;
border-radius: 20px;

}
.txt4
{
margin-top:90px;
margin-left:10px; 
border-style:outset;
height: 20px;
border: 2px light grey;
border-radius: 20px;

}
.txt5
{
margin-top:90px;
margin-left:50px; 
border-style:outset;
height: 20px;
border: 2px light grey;
border-radius: 20px;

}
.txt6
{ 
margin-top:90px;
margin-left:30px; 
border-style:outset;
height: 20px;
border: 2px light grey;
border-radius: 20px;

}
.txt7
{
margin-top:5px;
margin-left:40px; 
border-style:outset;
height: 20px;
border: 2px light grey;
border-radius: 20px;

}
.btn 
{
margin-top:70px;
height: 40px;
margin-left:40px;
border-radius:10px;
width:70%;
}
form
{
	 height:999px;
     border-style: inset;
     width: 325px;
     border: 2px light grey;
     border-radius: 20px;
     background-color:white; 
     padding: 5px; 
}















