@charset "ISO-8859-1";

*{
margin:50px;
}
.div{
	
	margin-left:450px; 

}
.form 
{
margin-left:500px;
}
.txt1
{
margin-top:90px;
margin-left:40px; 
border-style:outset;
height: 20px;
border: 2px light grey;
border-radius: 20px;

}
.adminbtn
{
	margin-top:-200px;
	margin-left:50px;
    height: 40px;
    border:2px lightgrey outset;
    border-radius:10px;
    width:70%;
}


.txt2
{
margin-top:50px;
margin-left:10px;
border-style:outset;
height: 20px;
border: 2px light grey;
border-radius: 20px;
}
.BTN
{
margin-top:50px;
height: 40px;

border-radius:10px;
width:70%;
}
form
{
	 
	 height:730px;
	 border-style: inset;
     width: 325px;
     border: 2px light grey;
     border-radius: 20px;
     background-color:white; 
     padding: 5px; 
     
}
.b1{ text-align: center; margin-right:35px;}    
.b1 a{ text-decoration: none;}







