@charset "ISO-8859-1";
@charset "ISO-8859-1";

*{
	margin-top:5px;	
}
.div{
	
	margin-left:600px;
}


.txt1
{
margin-top:70px;
margin-left:10px;
border-style:outset;
height: 20px;
border: 2px light grey;
border-radius: 20px;

}
.txt2
{
margin-top:90px;
margin-left:15px;  
border-style:outset;
height: 20px;
border: 2px light grey;
border-radius: 20px;

}

.txt3
{
margin-top:90px;
margin-left:5px; 
border-style:outset;
height: 20px;
border: 2px light grey;
border-radius: 20px;

}
.txt4
{
margin-top:90px;
margin-left:50px; 
border-style:outset;
height: 20px;
border: 2px light grey;
border-radius: 20px;

}


.BTN
{
margin-top:70px;
height: 40px;
margin-left:50px;
border-radius:10px;
width:70%;
}
form
{
	 height:650px;
     border-style: inset;
     width: 325px;
     border: 2px light grey;
     border-radius: 20px;
     background-color:white; 
     padding: 5px; 
}















