@charset "ISO-8859-1";

  
 



.div{
	
	margin-left:570px; 
 
}
form
{
	 margin-top:150px;
	 height:500px;
	 border-style: inset;
     width: 325px;
     border: 2px light grey;
     border-radius: 20px;
     background-color:white; 
     padding: 5px; 
     
}  
 
 .btn
{
margin-top:50px;
margin-left:50px;
height: 40px;

border-radius:10px;
width:70%;
}
 .btn1
{
margin-top:50px;
margin-left:50px;
height: 40px;

border-radius:10px;
width:70%;
}
 .btn2
{
margin-top:50px;
margin-left:50px;
height: 40px;

border-radius:10px;
width:70%;
}
 .btn3
{
margin-top:50px;
margin-left:50px;
height: 40px;

border-radius:10px;
width:70%;
}

















